@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

body {
   background-image: linear-gradient(to bottom right, rgb(44, 43, 43), rgb(95, 54, 104));
   text: rgb(238, 235, 235);
}

h1 {
   font-size: 2.25rem;
   color: rgb(157, 57, 177);
}

h2 {
   font-size: 1.75rem;
   color: rgb(157, 57, 177);
}

table {
   border-collapse: collapse;
   width: 100%;
}

th, td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #DDD;
   color: rgb(157, 57, 177);
}

tr:hover {background-color: #ddd;}

hr.rounded {
   border-top: 4px solid #bbb;
   border-radius: 3px;
}

footer {
   font-size: 1.5rem;
   color: rgb(157, 57, 177);
}

.background_img {
   width: 100%;
   height: auto;
   opacity: 50%;
}

.mm_timetrial {
   width: 50%;
   height: auto;
}

.gmail_icon {
   width: 3%;
   height: auto;
   float: left;
   border-right: .2rem;
}

.linkedin_icon {
   width: 3%;
   height: auto;
   float: left;
   border-right: .2rem;
}

.about_text {
   font-size: 4vw;
}

.topnav {
   background-color:rgba(71, 69, 69, 0.315);
   overflow: hidden;
}

.topnav a{
   float:left;
   color:rgb(183, 143, 188);
   text-align: center;
   padding: 14px 16px;
   font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(123, 46, 139);
}

.topna a:active {
    background-color: #db9ad3;
    color: white;
}